.home{
    width: 100vw;
    min-height: 100vh;
    /* width: 100vw;
    height: 100dvh; */
    background: #ced8ff;
    transition: 0.5s;
}
.home.dark{
    background-color: #222;
}

.home-wrapper{
    color: #fff;
    position: relative;
    
}